* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    45deg,
    #f6f7fe 0%,
    #f6f8fe 28.97%,
    #f2f4fe 100%,
    #f2f4fe 100%
  );
  margin: 0;
  font-family: Proxima Nova Rg, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: Graphik;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  font-family: Proxima Nova Rg, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.customModal {
  border-radius: 10px;
  padding: 0px !important;
  max-width: 900px !important;
}

.addModal {
  border-radius: 10px;
  max-width: 1120px !important;
  padding: 35px 55px 35px !important;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .addModal {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

.customToolTip {   
  width: 415px;
  box-shadow: 0 0 0 1px rgba(111,119,130,0.12), 0 5px 20px 0 rgba(21,27,38,0.08);
  border-radius: 10px !important;
}

.customToolTip__title {
  color: #141413;  
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}
